* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
  text-align: center;
}

.attribution {
  font-size: 11px;
  text-align: center;
  position: relative;
  top: -25vh;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: inline-block;
  border: 1px hsl(0, 0%, 100%) solid;
  border-radius: 20px;
  padding: 15px;
  background-color: hsl(0, 0%, 100%);
  font-family: "Outfit", sans-serif;
  transform: scale(0.5);
}

span {
  padding: 10px;
}

.qr-code {
  transform: scale(0.9);
  border-radius: 20px;
}

p {
  display: grid;
  font-size: 25px;
  color: hsl(220, 15%, 55%);
}

.heading {
  color: hsl(218, 44%, 22%);
  font-weight: 700;
  font-size: 34px;
}
