* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-size: 15px;
  font-family: 'Outline', sans-serif;
  background-color: hsl(212, 45%, 89%);
  padding: 5rem 0 5rem 0;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: 5px;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: grid;
  text-align: center;
}

#box {
  border: 1px hsl(0, 0%, 100%) solid;
  border-radius: 17px;
  background-color: hsl(0, 0%, 100%);
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 14px;
}

img {
  width: 310px;
  border-radius: 12px;
}

.info {
  width: 310px;
  padding: 12px;
}

h1 {
  padding: 10px 0 10px 0;
  color: hsl(218, 44%, 22%);
  font-weight: 700;
}

p {
  padding: 10px 20px 0 20px;
  color: hsl(220, 15%, 55%);
  font-weight: 400;
}
