* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.attribution {
  font-size: 11px;
  text-align: center;
  margin-top: -11rem;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

body {
  background-color: hsl(212, 45%, 89%);
}

main {
  background-color: hsl(0, 0%, 100%);
  border: 0.2rem solid hsl(0, 0%, 100%);
  display: grid;
  place-content: center;
  font-family: "Outfit", sans-serif;
  margin: 0 23rem;
  margin-top: -9rem;
  padding-top: 0.8rem;
  border-radius: 1em;
  transform: scale(0.6);
  text-align: center;
}

span {
  display: inline-block;
  padding: 0 2.8rem;
  color: hsl(220, 15%, 55%);
}

.heading {
  color: hsl(218, 44%, 22%);
  font-size: 2.5rem;
  font-weight: 700;
  padding-top: 2rem;
}

.qr-code {
  border-radius: 1em;
  display: flex;
  margin-left: 1.2rem;
  margin-top: 0.4rem;
}

.description {
  padding-top: 2rem;
  padding-bottom: 4.4rem;
  font-size: 2rem;
}
