/* 
  background-color: hsl(212, 75%, 58%);
  background-color: hsl(0, 0%, 100%);
  color: hsl(220, 15%, 55%);
  font-family: "Outfit", sans-serif;
  color: hsl(218, 44%, 22%);

*/

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  background-color: hsl(212, 45%, 89%);
}

.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  border-radius: 12px;
  width: auto;
  margin: 5rem 0 0 0;
}

.centered-box {
  background-color: hsl(0, 0%, 100%);
  border-radius: 12px;
  flex-basis: 18vw;
}

.left-box {
  flex-basis: 41vw;
}

.right-box {
  flex-basis: 41vw;
}

section {
  flex-shrink: 1;
}

.qr-code {
  margin: 10px;
  width: 260px;
  border-radius: 12px;
}

p {
  display: grid;
  width: 260px;
  text-align: center;
  font-family: "Outfit", sans-serif;
  font-size: 15px;
}

span {
  margin: 1rem 0 1rem 0;
  padding: 0 0.6rem 0 0.6rem;
}
.heading {
  font-size: 1.1rem;
  color: hsl(218, 44%, 22%);
  font-weight: bold;
}

.paragraph {
  margin: 0 0 1.7rem 0;
  color: hsl(220, 15%, 55%);
}
